@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap");

:root {
  --white: rgb(255, 255, 255);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Mono", monospace;
}

// header {
//   height: 100vh;
//   background: rgb(0, 0, 0);
//   background-image: url(../Images/header-bg.jpg); /* fallback */
//   background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.432)),
//     url(../Images/header-bg.jpg);
//   background-size: cover;
//   //   position: relative;

//   .navi {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     .icon {
//       background: black;
//       border-radius: 50%;
//       padding: 10px;
//       color: #dc3545;
//     }
//   }

//   h1 {
//     background: -webkit-linear-gradient(45deg, #db293b, #98e8f7);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     font-size: 42px;
//     font-weight: normal;
//   }
//   p {
//     color: var(--white);
//     width: 75%;
//   }
// }
